/* h1 {
    color: white;
} */
#main {
    width: 52.5%;
}
#picture {
    max-height: 400px;
}
#main a {
    text-decoration: none;
    color: black;
}
#main a:hover {
    opacity: .85;
}
.descript-text {
    font-size: 1.35rem;
}
#pagination {
    justify-content: center;
}